body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.c1,
.c2,
.c3,
.c4,
.c5,


.c9,
.c10 {
    padding: 120px;
    border: 3px solid black;
    margin: 10px;
    text-align: center;

}

.c1 {
    background-color: #FFFFFF;
    /* Blanco puro */
}

.c2 {
    background-color: #A0A0A0;
    /* Gris metálico */
}



.c4 {
    background-color: #000000;
    /* Negro intenso */
    color: white;
}

.c5 {
    background-color: #00F7C7;
    /* Verde agua neón */
}


.c9 {
    background-color: #FFF700;
    /* Amarillo neón */
}